/* COLOR SCHEME
Background: #FCFCFC
Text: #142B6F
Highlights: #FF7D8B */

/* BODY */
body {
    
}

/* NAVBAR */
.navbar.bg-light {
    background-color: #FCFCFC!important;
}


.navbar-light.navbar .navbar-nav .nav-link {
    color: #FF7D8B;
    padding-right: 3vw;
}

.navbar-light.navbar .navbar-nav .nav-link:hover {
    color: #DD5B69;
}

/* HOME */
.home-container {
    background-color: #FCFCFC;
    height: calc(100vh - 69.6px);
    overflow-y: hidden;
    color: #142B6F;
}

.home-container .container {
    margin-left: 20px;
    padding-left: 10px;
    margin-right: 20px;
    padding-right: 10px;
    margin-top: 10vh;
}

.home-container .col-lg-8 {
    width: 95%
}

.home-container h1 {
    font-size: calc(20px + 3.2vw);
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 5vh;
}

.home-container h6 {
    font-size: calc(14px + .6vw);
    margin-bottom: 2vh;
}

.home-container p {
    font-size: calc(12px + .4vw);
}

.home-container button {
    font-size: calc(14px + .6vw);
    color: #fff;
    border: none;
    background-color: #FF7D8B;
    padding: calc(5px + .2vw) calc(18px + .6vw);
}

.home-container button:hover {
    background-color: #EE6C7A;
}

/* QUIZ */
.quiz-container {
    background-color: #FCFCFC;
    color: #142B6F;
    height: calc(100vh - 69.6px);
}

.quiz-container .instructions {
    margin-top: 5vh;
}

.quiz-container .instructions h4 {
    font-size: calc(16px + 1.4vw);
    margin-bottom: 5px;
}

.quiz-container .instructions p {
    font-size: calc(12px + .8vw);
}

.quiz-container .instructions button {
    font-size: calc(14px + .6vw);
    color: #fff;
    border: none;
    background-color: #FF7D8B;
    padding: calc(5px + .2vw) calc(18px + .6vw);
    margin-top: 2vh;
}

.quiz-container .instructions button:hover {
    background-color: #EE6C7A;
}

.quiz-container .question {
    text-align: center;
}
